/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[10].use[3]!./src/style/section/activeFriends.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/

/* section containers */
.filter_friend_container {
    display: flex;
    height: 3.5rem;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    border-bottom-width: 1px;
    --tw-border-opacity: 1;
    border-bottom-color: rgb(38 38 38 / var(--tw-border-opacity, 1));
    padding: 1rem;
    --tw-drop-shadow: drop-shadow(0 1px 1px rgb(0 0 0 / 0.05));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.friend-list-item-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    border-radius: 0.375rem;
    padding: 0.75rem;
    text-align: left;
    --tw-text-opacity: 1;
    color: rgb(255 251 235 / var(--tw-text-opacity, 1))
}

.friend-list-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    overflow-y: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.additional-image-container {
    height: 1rem;
    width: 1rem;
    flex-shrink: 0
}



/* button click active */
.active {
    --tw-bg-opacity: 1;
    background-color: rgb(63 64 71 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.active-add {
    background-color: transparent;
    --tw-text-opacity: 1;
    color: rgb(22 163 74 / var(--tw-text-opacity, 1))
}

.not-active-add {
    --tw-bg-opacity: 1;
    background-color: rgb(22 163 74 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}



/* friend list item additionals classes */
.list-item-upperline {
    max-width: 64rem;
    border-top-width: 1px;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgb(61 62 65 / var(--tw-border-opacity, 1))
}

.online-status {
    font-size: 0.75rem;
    line-height: 1rem
}



/* section buttons */
.additional-buttons {
    display: flex;
    height: 2.25rem;
    width: 2.25rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 9999px
}

.filter_button {
    display: flex;
    height: 1.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.125rem;
    padding: 0.375rem
}

.filter_button:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(54 55 60 / var(--tw-bg-opacity, 1));
    --tw-text-opacity: 1;
    color: rgb(212 212 216 / var(--tw-text-opacity, 1))
}

.add_friend_button {
    display: flex;
    height: 1.5rem;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.125rem;
    padding: 0.375rem
}



.row-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem
}
